html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}



.main-header,
.footer {
    background-color: #1f2937;
    color: white;
}

.main-header li,
.main-header text {
    font-size: 18px;
    color: #E5E7EB;
}


.main-header {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;    
}


.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.top-header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: white;
    border: solid 2px white;
    border-radius: 25px;
}

.top-header ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.lower-header {
    display: flex;
    justify-content: space-between;
    padding: 50px 0
}

.lower-header .left{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.lower-header .image {
    width:600px;
    height: auto;
    border: solid 5px;
    flex: 0 1 auto;
}


.lower-header .bold-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}



.information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;   
}

.information .title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    
}

.item img {
    max-width: 100%;
    min-width: 100%;
    height:auto;
    flex: 0 1 auto;
}

.item:nth-child(4n){
    flex-basis: 100%;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0px 100px;   
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.quote .author {
    align-self: flex-end;
    font-size: 20px;
}

.notice-section{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice {
    display: flex;
    border:solid 5px white;
    border-radius: 25px;
    padding: 10px;
    color: white;
    flex: 0.5 0 auto;
    justify-content: space-between;
    width: 200px;
    background-color: #3882F6;
}


.footer {
    margin-top: auto;
    background-color:#1f2937;
    padding: 0px 100px; 
    text-align: center;
}